/* Styles go here */

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: darkgray;
    overflow-x: none;
}

.full-height {
    height: 100%;
}

.p-fixed {
    position: fixed;
    top: 0;
    left: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#top-div {
    background-color: darkgray;
    height: 50vh;
}

#mid-div {
    flex: 1;
    background-color: darkgray;
    min-height: 2px;
    height: calc(100% - 200px);
}

#bottom-div {
    background-color: darkgray;
    height: 50vh;
}

#red {
    background-color: maroon;
    left: -100vw;
    position: relative;
    height: calc(100% - 200px);
}

#blue {
    background-color: darkblue;
    left: 100vw;
    position: relative;
    height: calc(100% - 200px);
}