<md-sidenav md-component-id="side-nav"
class="md-sidenav-left layout-column layout-fill beige dark-blue-bg layout-align-center">
    <md-button class="full-width md-padding" ng-click="appCtrl.toggleSideNav('side-nav');">
        <a class="md-display-1" href="" ui-sref="bio">Bio</a>
    </md-button>
    <md-button class="full-width md-padding" ng-click="appCtrl.toggleSideNav('side-nav');">
        <a class="md-display-1" href="" ui-sref="bands">Bands</a>
    </md-button>
    <md-button class="full-width md-padding" ng-click="appCtrl.toggleSideNav('side-nav');">
        <a class="md-display-1" href="" ui-sref="composition">Comp</a>
    </md-button>
    <md-button class="full-width md-padding" ng-click="appCtrl.toggleSideNav('side-nav');">
        <a class="md-display-1" href="" ui-sref="audio">Audio</a>
    </md-button>
    <md-button class="full-width md-padding" ng-click="appCtrl.toggleSideNav('side-nav');">
        <a class="md-display-1" href="" ui-sref="media">Media</a>
    </md-button>
    <md-button class="full-width md-padding" ng-click="appCtrl.toggleSideNav('side-nav');">
        <a class="md-display-1" href="" ui-sref="contact">Contact</a>
    </md-button>
</md-sidenav>