$off-white: #f0f0f0;
$gray: #404040;
$dark-gray: #292929;
$dark-blue: #00495A;
$light-blue: #007E8D;
$beige: #F2EFDB;
$maroon: #83002B;
$black: #000;

.black {
    color: black;
}

.off-white {
    color: $off-white;
}

.beige {
    color: $beige;
}

.beige-bg {
    background-color: $beige;
}

.maroon {
    color: $maroon;
}

.dark-gray {
    color: $dark-gray;
}

.dark-blue {
    color: $dark-blue;
}

.dark-blue-bg {
    background-color: $dark-blue;
}