@import 'colors';
@import 'material-icons';

$top-div-height: 60px;
$bottom-div-height: 60px;
$top-div-xs-height: 38px;
$bottom-div-xs-height: 38px;

html, body {
    font-family: 'Biryani', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: $gray;
    overflow: hidden;
}

img {
    max-height: 100%;
    max-width: 100%;
      object-fit: contain;

}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.p-fixed {
    position: fixed;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute !important;
}

#main-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px - 60px);
    &.xs {
        height: calc(100% - 30px - 30px);
    }
}


#top-div {
    background-color: $gray;
    height: $top-div-height;
}

#top-div-xs {
    background-color: $gray;
    height: $top-div-xs-height;
}

#mid-div {
    flex: 1;
    background-color: $gray;
    min-height: 2px;
    height: calc(100% - 60px - 60px);
}

.no-overflow {
    overflow: hidden;
}

.mid-row {
    height: calc(100% - 60px - 60px);
}

#bottom-div {
    background-color: $gray;
    height: $bottom-div-height;
}

#bottom-div {
    background-color: $gray;
    height: 50vh;
    &.post-landing {
        height: $bottom-div-height;
    }
}


#bottom-div-xs {
    background-color: $gray;
    height: $bottom-div-xs-height;
}

.nav-wrapper {
    padding-right: 20px;
}

nav {
    margin-right: -22px;
}

.maroon {
    background-color: $maroon;
}

#jon-name {
    font-weight: 200;
    letter-spacing: 0.3em;
    color: $beige;
    padding-right: 20px;
}

.md-margin-top {
    margin-top: 16px;
}

.md-margin-bottom {
    margin-bottom: 16px;
}


.md-margin-left {
    margin-left: 16px;
}

.md-margin-right {
    margin-right: 16px;
}


.md-padding {
    padding: 16px;
}

.md-padding-top {
    padding-top: 16px;
}

.md-padding-bottom {
    padding-bottom: 16px;
}


.md-padding-left {
    padding-left: 16px;
}

.md-padding-right {
    padding-right: 16px;
}


.md-margin {
    margin: 16px;
}

.home-button {
    top: 30px;
    left: 30px;
}

.overflow-scroll {
    overflow: scroll;
}

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}