@import 'colors';

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: $gray;
    overflow: hidden;
}

.full-height {
    height: 100%;
}

.p-fixed {
    position: fixed;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute !important;
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#top-div {
    background-color: $gray;
    height: 50vh;
}

#mid-div {
    flex: 1;
    background-color: $gray;
    min-height: 2px;
    height: calc(100% - 200px);
}

#bottom-div {
    background-color: $gray;
    height: 50vh;
}
