
<html lang="en" ng-app="jonWardApp">

    <head>
        <meta charset="UTF-8" />
        <title>Document</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Biryani:200' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="./node_modules/angular-material/angular-material.min.css" />
        <link rel="stylesheet" href="style.css" />
    </head>

    <body ng-controller="ApplicationController as appCtrl">

        <div ng-cloak class="home-button p-fixed hide-xs">
            <a href ui-sref="home">
                <i class="material-icons beige cursor-pointer">home</i>
            </a>
        </div>

        <div id="top-div-xs" class="show-xs hide-gt-xs">
            <md-button class="md-icon-button" aria-label="menu">
                <md-icon class="matermd-iconal-icons beige cursor-pointer" ng-click="appCtrl.toggleSideNav()">menu</md-icon>
            </md-button>
        </div>

        <div ng-include="'./nav/sidenav.tpl.html'"></div>

        <div id="top-div" class="hide-xs">
            <div class="layout-column md-margin-top"
            ng-class="{'layout-fill layout-align-end-center': !$state.is('landing')}">
                <div id="jon-name" class="layout-column layout-align-center-end md-headline flex-70 beige"
                ng-if="$state.is('landing')">
                    <div class="md-diplay-3" ng-cloak ng-bind="'j o n a t h a n'"></div>
                    <div class="md-diplay-3" ng-cloak ng-bind="'w a r d'"></div>
                </div>
                <div class="flex-10" ng-if="$state.is('landing')"></div>
                <nav id="top-nav" class="layout-row layout-fill layout-align-center-center beige">
                    <md-button ng-cloak ng-bind="'bio'" class="md-button cursor-pointer flex-10 nav-button text-align-center"
                    ui-sref="bio"></md-button>
                    <md-button ng-cloak ng-bind="'bands'" class="md-button cursor-pointer flex-10 nav-button text-align-center"
                    ui-sref="bands"></md-button>
                    <md-button ng-cloak ng-bind="'comp'" class="md-button cursor-pointer flex-10 nav-button text-align-center"
                    ui-sref="composition"></md-button>
                    <md-button ng-cloak ng-bind="'audio'" class="md-button cursor-pointer flex-10 nav-button text-align-center"
                    ui-sref="audio"></md-button>
                    <md-button ng-cloak ng-bind="'media'" class="md-button cursor-pointer flex-10 nav-button text-align-center"
                    ui-sref="media"></md-button>
                    <md-button ng-cloak ng-bind="'contact'" class="md-button cursor-pointer flex-10 nav-button text-align-center"
                    ui-sref="contact"></md-button>
                </nav>
            </div>
        </div>

        <span ng-show="appCtrl.$state.current.name === 'landing'">
            <md-button id="enter-button" class="p-absolute" ng-click="toggleSlide()" ui-sref="home">enter</md-button>
        </span>

        <div id="main-container" class="layout-column layout-align-center-center maroon p-relative"
        ng-class="{'xs': $mdMedia('xs')}"
        ui-view></div>

        <div id="bottom-div-xs" class="show-xs hide-gt-xs layout-row layout-align-center-start beige">
            <i class="fa fa-soundcloud fa-2x md-padding-half" aria-hidden="true"></i>
            <i class="fa fa-linkedin fa-2x md-padding-half md-padding-left" aria-hidden="true"></i>
            <i class="fa fa-comment-o fa-2x md-padding-half md-padding-left" aria-hidden="true"></i>
        </div>

        <div id="bottom-div" class="hide-xs">
            <div class="layout-row bottom-row full-height"></div>
        </div>
        <script src="https://use.fontawesome.com/79e9127d22.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <script src="./node_modules/angular/angular.min.js"></script>
        <script src="./node_modules/angular-animate/angular-animate.min.js"></script>
        <script src="./node_modules/angular-aria/angular-aria.min.js"></script>
        <script src="./node_modules/angular-messages/angular-messages.min.js"></script>
        <script src="./node_modules/angular-material/angular-material.min.js"></script>
        <script src="./node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="./application.module.js"></script>
        <script src="./application.config.js"></script>
        <script src="./application.controller.js"></script>
        <script src="./composition/composition.controller.js"></script>
        <script src="./home/home.controller.js"></script>
        <script src="./landing/landing.controller.js"></script>
        <script src="./bio/bio.controller.js"></script>
        <script src="./bands/bands.controller.js"></script>
        <script src="./audio/audio.controller.js"></script>
        <script src="./media/media.controller.js"></script>
        <script src="./contact/contact.controller.js"></script>
    </body>

</html>
